In [16]:
%load_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import datetime
import calendar
from scipy import sparse
from pandas.api.types import CategoricalDtype
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import time
from tqdm import tqdm

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
cd D:\Course\SBRS

D:\Course\SBRS

In [3]:
# ctg_file = 'datasets/retailrocket/category_tree.csv'
events_file = 'datasets/retailrocket/events.csv'
# item_prop_1 = 'datasets/retailrocket/item_properties_part1.csv'
# item_prop_2 = 'datasets/retailrocket/item_properties_part2.csv'

In [4]:
# ctg_df = pd.read_csv(ctg_file)
events_df = pd.read_csv(events_file)
# item_prop_1_df = pd.read_csv(item_prop_1)
# item_prop_2_df = pd.read_csv(item_prop_2)

In [5]:
events_df.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [6]:
events_actions = {
    'view': 1,
    'addtocart':2,
    'transaction':3
}

In [7]:
events_df.event = [events_actions[item] for item in events_df.event]

In [8]:
events_df.head()

       timestamp  visitorid  event  itemid  transactionid
0  1433221332117     257597      1  355908            NaN
1  1433224214164     992329      1  248676            NaN
2  1433221999827     111016      1  318965            NaN
3  1433221955914     483717      1  253185            NaN
4  1433221337106     951259      1  367447            NaN

In [9]:
events_df['event_date'] = pd.to_datetime(events_df['timestamp'])
events_df = events_df.drop('timestamp', axis=1)

In [10]:
events_df['date'] = events_df.event_date.dt.date
events_df['time'] = events_df.event_date.dt.time
events_df['year'] = events_df.event_date.dt.year
events_df['month'] = events_df.event_date.dt.month
events_df['day'] = events_df.event_date.dt.day
events_df['hour'] = events_df.event_date.dt.hour
events_df['minute'] = events_df.event_date.dt.minute
events_df['sec'] = events_df.event_date.dt.second
events_df = events_df.drop(['event_date','time','date'], axis=1)

In [11]:
events_df.head(1000000)

,visitorid,event,itemid,transactionid,year,month,day,hour,minute,sec
0,257597,1,355908,NaN,1970,1,1,0,23,53
1,992329,1,248676,NaN,1970,1,1,0,23,53
2,111016,1,318965,NaN,1970,1,1,0,23,53
3,483717,1,253185,NaN,1970,1,1,0,23,53
4,951259,1,367447,NaN,1970,1,1,0,23,53
...,...,...,...,...,...,...,...,...,...,...
999995,859313,1,452908,NaN,1970,1,1,0,24,0
999996,6400,1,342021,NaN,1970,1,1,0,24,0
999997,643318,1,322887,NaN,1970,1,1,0,24,0
999998,542030,3,314824,4569.0,1970,1,1,0,24,0
999999,381872,1,60159,NaN,1970,1,1,0,24,0

In [12]:
new = events_df.sort_values('visitorid')
new.head(10000)

,visitorid,event,itemid,transactionid,year,month,day,hour,minute,sec
1361687,0,1,285930,NaN,1970,1,1,0,24,2
1367212,0,1,357564,NaN,1970,1,1,0,24,2
1367342,0,1,67045,NaN,1970,1,1,0,24,2
830385,1,1,72028,NaN,1970,1,1,0,23,59
735202,2,1,342816,NaN,1970,1,1,0,23,58
...,...,...,...,...,...,...,...,...,...,...
1934064,5213,1,309502,NaN,1970,1,1,0,23,52
1937074,5213,1,412134,NaN,1970,1,1,0,23,52
1936948,5213,1,359310,NaN,1970,1,1,0,23,52
1927901,5213,1,237400,NaN,1970,1,1,0,23,52
1933059,5213,1,416039,NaN,1970,1,1,0,23,52

In [14]:
list_df = []
for i in tqdm(range(len(events_df.visitorid.unique())//100)):
    time.sleep(0.00000001)
    list_df.append(events_df[events_df.visitorid == i].itemid.to_list())
list_df

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 14075/14075 [03:38<00:00, 64.35it/s]

[[285930, 357564, 67045],
 [72028],
 [216305, 325215, 342816, 325215, 342816, 259884, 216305, 325215],
 [385090],
 [177677],
 [61396],
 [344723, 344723, 65273, 253615, 344723, 344723],
 [164941, 139394, 226353],
 [434230],
 [222422],
 [248766],
 [448220],
 [70225],
 [320589, 278689],
 [330269],
 [22495],
 [382645],
 [138434],
 [209302],
 [84663],
 [176623],
 [76091],
 [86411, 86411],
 [44608, 283916, 283916],
 [449369, 346051],
 [344325],
 [164342],
 [314714],
 [295343],
 [299118],
 [425758],
 [465565],
 [465465, 282491],
 [185254],
 [199885],
 [187946],
 [176286, 176286],
 [168952, 168952, 168952, 168952, 168952, 434344, 168952, 168952],
 [182101],
 [76740, 76740],
 [164625],
 [28961],
 [60399],
 [434782],
 [11729],
 [451993],
 [3780, 3780],
 [161925],
 [215123],
 [156173],
 [331168],
 [49967, 429304, 198762, 358388, 279059, 198762],
 [108504],
 [217218],
 [283115,
  283115,
  442228,
  442228,
  319680,
  388096,
  388096,
  319680,
  38965,
  249114,
  38965],
 [399556, 399556],
 [261455],
 [152379],
 [31406, 31406],
 [5411],
 [321706, 453279, 257070],
 [6924],
 [294847, 294847],
 [61303],
 [295653, 233200, 224700, 160984, 141657, 118401, 160984],
 [52383, 353515, 52383, 168656],
 [47930],
 [451104],
 [60701],
 [59556],
 [237208],
 [436751],
 [408846],
 [80517, 80517],
 [57171, 57171, 45410, 59574, 57171, 262125, 55826],
 [257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  96883,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575,
  257575],
 [278966, 278966, 420028],
 [441880],
 [140513],
 [450209],
 [458747],
 [337512, 337512],
 [85863],
 [20095],
 [371827],
 [230005],
 [150060, 150060],
 [458733],
 [58827, 420028],
 [72435, 277742, 26210],
 [89143],
 [79513, 146100],
 [359197],
 [434480],
 [347105, 129302, 129302],
 [169956, 45520],
 [447174],
 [291964, 400946, 400946, 400946, 280039, 291964, 400946, 280039],
 [124764],
 [158848, 158848],
 [36054, 36054, 36054, 36054],
 [275948],
 [237539, 82955],
 [311356, 123118],
 [120522],
 [66752, 66752],
 [237756],
 [459752],
 [311484, 311484, 311484],
 [216019],
 [224322],
 [169811, 169811],
 [200802],
 [164498],
 [265338],
 [428921],
 [115584],
 [280939, 257723],
 [165280],
 [393111],
 [153339],
 [43398],
 [301278],
 [356005],
 [212357, 354724],
 [9468],
 [52901],
 [164344],
 [394678],
 [436137],
 [242425],
 [351747],
 [200128, 200128],
 [2680],
 [258549],
 [21886],
 [352001],
 [383819],
 [364123],
 [111210],
 [315911],
 [369723],
 [101094, 101094],
 [321063],
 [362964],
 [274898],
 [413203],
 [426635],
 [59467],
 [332620, 332620],
 [452955, 452955, 452955, 186933],
 [48731],
 [30990],
 [322972],
 [235849],
 [134620,
  123027,
  134620,
  50928,
  373637,
  151670,
  143373,
  452082,
  368372,
  224623,
  389974,
  442601,
  41882,
  181405],
 [31611],
 [226758],
 [191726, 275959],
 [224725],
 [211839],
 [337381],
 [1152, 305656, 390093, 248862, 156142],
 [189381, 17477],
 [106828, 446506],
 [39601, 39601],
 [5374],
 [120658],
 [107195],
 [312427, 84310, 326449, 312427],
 [161066, 161066, 161066],
 [355598],
 [465522,
  465522,
  10034,
  10034,
  465522,
  107943,
  10034,
  79918,
  62300,
  465522,
  465522,
  202268,
  465522,
  378862,
  18519,
  27248,
  397068,
  55710,
  374400,
  10034,
  323030,
  254301,
  464731,
  302810,
  464731,
  292240,
  363106,
  412628,
  403998,
  10034,
  10034,
  292240,
  10034,
  464731,
  228229,
  292240,
  253720,
  292240],
 [417183],
 [260546],
 [215224],
 [64648],
 [6073, 6073, 6073],
 [368559, 368559],
 [186746],
 [365015],
 [119775, 119775],
 [316769],
 [130897],
 [429571, 186095],
 [178280],
 [49029, 49029, 49029, 49029],
 [369447],
 [372243],
 [193329],
 [444892],
 [25828],
 [3943],
 [366106],
 [179991],
 [414460],
 [286200],
 [144066, 383981],
 [109919],
 [402871],
 [340466],
 [308557],
 [62641],
 [21686],
 [412676],
 [105631, 74614],
 [98118],
 [99682],
 [98425],
 [398508],
 [29100],
 [373907],
 [439976, 439976],
 [332907, 456393],
 [155319],
 [452769],
 [8140, 8140, 11296],
 [403813],
 [262477],
 [66085, 66085],
 [438459],
 [285607],
 [301719],
 [212216],
 [443407,
  168697,
  443407,
  443407,
  168697,
  168697,
  168697,
  168697,
  168697,
  336432,
  443407,
  443407],
 [353737],
 [393028],
 [462659, 462659],
 [50004],
 [449071],
 [234255, 395845],
 [399188, 399188],
 [179740],
 [128112],
 [334920],
 [281036],
 [365030],
 [117905],
 [151776],
 [345095],
 [382538],
 [117353],
 [192674],
 [21243],
 [203046],
 [261102, 129173],
 [117294],
 [184953],
 [15948, 15948],
 [266843],
 [86586],
 [211393, 325870],
 [237539],
 [328376, 210318],
 [290742, 4564],
 [83574, 83574],
 [46092],
 [163007],
 [161650, 358513, 449865],
 [403619],
 [303960],
 [413411],
 [257863],
 [340027],
 [459835, 459835, 161949, 459835, 161949, 161949, 161949],
 [351913],
 [449033, 39929, 212515, 340315],
 [210220],
 [335975, 91755],
 [265805],
 [286735,
  286735,
  286735,
  286735,
  286735,
  286735,
  286735,
  286735,
  286735,
  286735,
  286735,
  286735,
  286735],
 [413166],
 [203917, 203917],
 [343476],
 [121318],
 [272261],
 [182209],
 [254879],
 [230915, 458028, 405060],
 [49427],
 [116299],
 [78037],
 [251672],
 [405124],
 [44795],
 [227318],
 [69081],
 [311069, 65273],
 [362832],
 [442192],
 [84172],
 [423256],
 [401753, 401753],
 [58185],
 [408179],
 [7161, 445817],
 [49257, 429775],
 [20810],
 [291676, 74877, 74877, 244660],
 [149253, 149253, 416219, 322067, 416219],
 [67274],
 [209372, 257938],
 [463280, 463280],
 [55044],
 [191515],
 [294141],
 [314073, 118551, 432992, 118551, 432478, 454422, 303828],
 [13916, 13916],
 [310318],
 [66329],
 [257863],
 [165198],
 [431010],
 [50302],
 [440650],
 [34532],
 [304162],
 [399221, 399221, 341578, 341578],
 [133814, 133814, 280029, 184990, 238447, 354233, 214189, 174894],
 [386470, 140327],
 [328978],
 [40178],
 [95283],
 [329146],
 [187946],
 [301547],
 [221613],
 [62973],
 [270396],
 [445556, 310756, 389566],
 [299576],
 [304973],
 [192227],
 [254882, 254882, 254882],
 [77293],
 [400946],
 [365889],
 [176881, 176881],
 [40124],
 [179525],
 [21348],
 [99690, 428725, 159419, 112445, 208932],
 [347129, 347129],
 [309498],
 [271393, 4303, 271393, 4303, 271393, 59211, 4303],
 [285603],
 [30947],
 [199657],
 [89143],
 [344536],
 [238822, 407125],
 [98547,
  359368,
  433060,
  365673,
  42444,
  98547,
  1543,
  184465,
  412190,
  143416,
  170751,
  216146,
  169260,
  372248,
  395361,
  365673,
  184465],
 [378310],
 [86324, 376793, 381636],
 [119365],
 [8489],
 [175555],
 [199646, 395497, 417666],
 [159380, 198996, 270291, 167127, 329624, 270291],
 [185305],
 [460107],
 [427633],
 [333036],
 [290999, 290999, 290999, 290999, 290999],
 [339661],
 [130208],
 [274206],
 [153714],
 [137144],
 [32492],
 [106801, 216225],
 [345348],
 [187216],
 [258548],
 [167337, 140269, 140269, 158112, 140269],
 [437351, 437351],
 [49453],
 [66184],
 [289609],
 [356455, 320130, 320130],
 [69533],
 [304537, 465276],
 [437659],
 [351798, 450404, 146364, 219718, 246589, 130121, 227688, 117889],
 [41766],
 [47324],
 [373174],
 [11140, 380028, 98830, 11140, 159071, 11140],
 [336030],
 [393744],
 [157033],
 [241555, 241555, 215051, 215051],
 [13168],
 [181004],
 [116681],
 [51522],
 [459109, 459109],
 [191852],
 [164160],
 [90219, 75018],
 [100296],
 [460252],
 [253175],
 [54521],
 [298196],
 [436781],
 [403105],
 [404041, 404041],
 [263578],
 [242126],
 [103236, 2110, 28136],
 [305031, 93001, 384758, 77930, 36504],
 [409653],
 [447959, 324963, 449246, 133521],
 [214887],
 [153778],
 [232172, 232172, 232172, 232172],
 [49810],
 [270383],
 [19278, 19278, 426926, 19278, 19278, 46391],
 [178480,
  395273,
  395273,
  304558,
  178480,
  178480,
  357779,
  405266,
  395273,
  395273,
  5951,
  5951,
  55239,
  187848],
 [4538],
 [63451],
 [293139],
 [15136],
 [87074, 87074],
 [32515, 346213],
 [160467],
 [93383],
 [336069, 336069, 336069],
 [464997],
 [53683],
 [448601, 448601],
 [118633],
 [187946],
 [121489],
 [86596, 200242],
 [332816],
 [15564],
 [308073],
 [360964],
 [20099],
 [4606],
 [115323],
 [392715, 392715, 392715],
 [91105],
 [141451],
 [62610],
 [411854],
 [338208, 129611],
 [333117],
 [427923, 101876],
 [235047],
 [318468],
 [439343, 439343, 439343, 439343, 439343, 439343, 439343, 439343],
 [451942],
 [458110],
 [228699],
 [182419, 182419],
 [328751],
 [148565],
 [462105, 462105],
 [227077],
 [424896],
 [48072, 259884],
 [246803],
 [267882],
 [161899],
 [152100, 210161],
 [460, 194392],
 [116475],
 [454848],
 [102306],
 [326886],
 [20981, 415781],
 [384302, 368488],
 [87853],
 [233401, 233401],
 [47524],
 [309778, 309778],
 [296220],
 [34356],
 [249698, 48030],
 [413420],
 [354629, 74871, 385630, 321946, 57214, 129046, 14606, 57610, 452803],
 [248455, 305997, 337798, 208922, 449451, 148103],
 [199657],
 [378162],
 [233072, 50226],
 [118549],
 [66366],
 [89189],
 [361088],
 [124982],
 [193749],
 [192090],
 [269803, 395920],
 [198251],
 [427979],
 [198067],
 [159856],
 [284072],
 [436230, 2294],
 [461939],
 [184982],
 [328526],
 [392302, 357357],
 [197901, 174566, 174566, 174566, 174566, 174566, 174566, 174566],
 [161650],
 [355994],
 [87546],
 [151444],
 [320130, 334520, 234857],
 [255055],
 [180519],
 [39207, 256694, 358819, 143316, 358819, 358819, 358819],
 [291786],
 [198460],
 [274206],
 [464767, 464767],
 [353076],
 [67237],
 [430550, 199052, 199052],
 [63682],
 [445351, 445351],
 [11279],
 [370620],
 [399531],
 [371579],
 [424062],
 [87348, 324538],
 [445351, 150100],
 [404789],
 [360664],
 [314247],
 [252427, 271129],
 [117559],
 [448722],
 [242066],
 [94371, 94371, 94371, 94371, 94371, 94371, 94371],
 [208051],
 [164242, 164242],
 [347912, 123118],
 [298196],
 [47829],
 [92175],
 [455937],
 [133814],
 [446358],
 [39717,
  301563,
  170500,
  322503,
  199647,
  155550,
  16370,
  61442,
  390881,
  369998,
  179290,
  327109,
  4537,
  131882,
  420528,
  266439,
  128218],
 [323611],
 [461081],
 [107060],
 [104746, 219512],
 [75446],
 [435812],
 [273762, 273762],
 [170905],
 [304279],
 [179483],
 [416530],
 [432927],
 [243554],
 [437683],
 [25205],
 [344723],
 [161835],
 [319712],
 [461119, 461119],
 [294282],
 [465470, 465470, 254324],
 [54892],
 [370653],
 [55999],
 [198021],
 [28116],
 [225279, 193182, 193182, 61527, 225279],
 [457464, 457464, 457464, 398634, 398634, 457464, 398634, 398634],
 [350019],
 [107017, 188381],
 [216749, 216749],
 [388097],
 [1152],
 [53108],
 [23465, 23465],
 [130951],
 [56630, 107219, 107219, 153782],
 [82444],
 [250345, 250345],
 [340375, 340375, 120411],
 [29015],
 [5351],
 [343214],
 [188183],
 [432218],
 [185001],
 [70026, 70026],
 [391992],
 [305888],
 [348093],
 [305385],
 [55121, 55121],
 [440561],
 [464821],
 [87869,
  366667,
  80096,
  87869,
  87869,
  87869,
  87869,
  87869,
  87869,
  87869,
  242771,
  124896,
  87869,
  167395,
  87869],
 [165198, 165198, 197901],
 [308353],
 [155451],
 [234255],
 [201434, 201434],
 [73249],
 [69057, 334591],
 [203642],
 [427366],
 [122867],
 [335331, 335331],
 [47531],
 [232565, 232565],
 [391262],
 [208935],
 [267425],
 [257113, 345211],
 [317379],
 [48892],
 [363980],
 [81274, 3155],
 [445578],
 [47236,
  304332,
  414182,
  304332,
  414182,
  414182,
  414182,
  316826,
  361587,
  361587,
  230187,
  33139,
  414182,
  210786,
  414182,
  149319,
  283067,
  189109,
  269083],
 [132075],
 [154357],
 [54965],
 [190879, 190879],
 [374733],
 [105039, 386880],
 [367647, 277627, 367647],
 [130246],
 [101731, 199648, 295234],
 [74661],
 [234255],
 [400786],
 [345308],
 [192710],
 [310608],
 [29057],
 [466008],
 [37029, 438484, 29029, 463617, 37029, 235946, 100282, 326418, 37029, 377419],
 [80687],
 [177424, 177424],
 [440402,
  207125,
  192251,
  391472,
  157121,
  313404,
  453286,
  101722,
  101722,
  29879,
  343848,
  391472,
  453286,
  207125,
  321984,
  143375],
 [156132],
 [437659],
 [236141],
 [260320],
 [377517],
 [344071],
 [50302],
 [290999, 396591],
 [223351],
 [246666],
 [71594, 227869],
 [154154],
 [209946],
 [252509],
 [458479],
 [354540],
 [51326],
 [126663],
 [371108],
 [85822],
 [396768],
 [131307],
 [369194, 369194, 228644, 243490],
 [262661],
 [155496, 464649, 464649],
 [289416],
 [311694, 92302, 311694],
 [292066],
 [154786],
 [159463],
 [425726],
 [307306],
 [96924],
 [405761, 405761, 405761, 261275, 407563, 191910],
 [293038, 193895, 193895, 193895, 379390],
 [195188],
 [256317],
 [31406],
 [283693],
 [153280],
 [105824, 414593],
 [388575],
 [7943],
 [91562],
 [411470],
 [394375],
 [361288],
 [450135, 442330, 66548, 272770],
 [168064],
 [194476],
 [436884, 30326, 436884, 30326, 436884, 30326],
 [423554],
 [80606],
 [134537],
 [234371],
 [162039],
 [109312],
 [71823, 71823],
 [260317],
 [248924],
 [22972],
 [456235, 315916, 315434, 325641, 65892, 434634, 434634],
 [279742],
 [390984],
 [156772],
 [203908],
 [305905],
 [308796],
 [105397],
 [285032],
 [80118],
 [225480, 225480],
 [339821],
 [21253],
 [458129],
 [227694,
  89775,
  214610,
  214610,
  199648,
  214610,
  214610,
  257410,
  199648,
  199648,
  199648,
  214610,
  199648,
  199648],
 [460668],
 [50065],
 [60323],
 [91755, 91755],
 [354676],
 [212105, 212105],
 [97305],
 [427317],
 [274217],
 [279006],
 [421667],
 [7491],
 [388715],
 [45124],
 [84608],
 [463485, 463485],
 [165042],
 [424959],
 [132168, 92569],
 [96460, 290662],
 [353512, 246164, 246164, 246164],
 [161719],
 [216506],
 [105822],
 [286835, 355594],
 [373462],
 [377981, 377981],
 [230432],
 [175574, 387377],
 [382709],
 [321092],
 [373384],
 [298890, 298890],
 [268458],
 [78496, 78496, 78496, 78496],
 [15134],
 [14817],
 [226556, 13822],
 [378223, 336994, 336994, 75994],
 [224256],
 [287017, 287017, 287017],
 [106969],
 [431157],
 [376607],
 [264488, 264488, 409655],
 [341840],
 [401017],
 [48536,
  414428,
  207197,
  116813,
  24651,
  207197,
  108083,
  108083,
  354541,
  108083,
  207197,
  207197,
  260098,
  116813,
  108083,
  108083,
  108083,
  108083,
  48536,
  414428,
  414428],
 [315543],
 [391289, 391289],
 [242728],
 [158767],
 [340547],
 [241555],
 [53171],
 [194010],
 [347303],
 [166205],
 [242188, 242188, 263099, 183095],
 [97291],
 [436929],
 [298023],
 [446197],
 [112919],
 [139256],
 [231582],
 [363363],
 [207923],
 [192569],
 [316653],
 [225123,
  262006,
  155485,
  235009,
  131036,
  207825,
  207825,
  180905,
  180905,
  154681,
  180905,
  180905,
  180905,
  180905,
  180905,
  180905],
 [283083],
 [32407],
 [192792],
 [157322],
 [271811],
 [7943],
 [174658],
 [323934],
 [432749],
 [414489, 412254],
 [99615],
 [156878, 246117],
 [311664, 139401],
 [328350],
 [40930],
 [315876],
 [51542],
 [300881],
 [175574, 387377],
 [299123],
 [425639],
 [306524],
 [351820],
 [389358],
 [165169],
 [191334],
 [273936],
 [34982],
 [428827, 428827, 428827],
 [98861],
 [288195, 288195],
 [457471],
 [348294],
 [444828],
 [370482],
 [88703],
 [93202],
 [315543],
 [244577],
 [409804],
 [185831],
 [88749],
 [90417],
 [36958],
 [424173],
 [406039],
 [288474],
 [101197],
 [210373],
 [351530, 351530, 351530, 351530, 333588],
 [448044],
 [251265],
 [46924, 256695, 256695],
 [441836],
 [434574],
 [218215],
 [263146],
 [442384, 442384],
 [429233],
 [69551, 201850],
 [191016, 60954],
 [427709],
 [406116],
 [192409, 232610, 257040, 257575, 451386, 460228],
 [119743, 119743, 119743],
 [79959],
 [455159],
 [388783],
 [316894],
 [175909],
 [28144, 303833, 303833],
 [29580],
 [308538],
 [179714],
 [442418],
 [301657],
 [52837],
 [394821],
 [236155],
 [329848],
 [155056],
 [83126,
  83126,
  83126,
  280939,
  6908,
  83126,
  330713,
  83126,
  83126,
  83126,
  83126],
 [268883,
  2270,
  283916,
  420960,
  268883,
  283916,
  110374,
  110374,
  320566,
  283916,
  268883,
  101288,
  2270],
 [84773],
 [86270],
 [194729],
 [464731],
 [249610],
 [264947],
 [449130],
 [81641],
 [86316],
 [100279],
 [361734, 179725, 223820],
 [122380, 39560, 31970],
 [129356],
 [38582],
 [64733],
 [116359, 116359, 116359, 43241, 116359],
 [435796],
 [462682],
 [274459],
 [261013, 134858],
 [197642],
 [191016],
 [85510],
 [419371, 419371, 419371],
 [401285, 250015],
 [267461, 267461],
 [349659],
 [99241],
 [437569],
 [401716, 401716, 401716],
 [402684],
 [92814, 92814, 461520],
 [212767, 212767, 207430],
 [217650],
 [429503],
 [382946, 382946, 382946],
 [423362],
 [101288, 124941],
 [412416, 396254],
 [97307, 222888, 222888, 97307],
 [308384],
 [325928],
 [175245, 22436, 175245, 245510, 299038, 175245],
 [110405, 110405, 110405],
 [389306, 203917, 177009, 466118, 168452],
 [20594],
 [328025, 328025, 398156, 328025, 88037, 123287],
 [374400, 278094],
 [134519],
 [247491],
 [31954],
 [147110],
 [177982],
 [287860, 287860, 287860],
 [357891],
 [370653, 370653],
 [53302],
 [236975],
 [309889],
 [187946],
 [20719],
 [447360, 303341],
 [117283],
 [455141, 455141, 455141],
 [146097],
 [377972, 213747],
 [373665, 428002],
 [98057],
 [335975],
 [321253],
 [267882],
 [446039],
 [51118],
 [410086],
 [126332],
 [466735],
 [35322],
 [151444],
 [422559],
 [336756],
 [392929],
 [143933],
 [282665],
 [432992, 234808],
 [345723],
 [430113, 430113, 430113, 430113, 430113, 430113, 430113, 430113],
 [226597],
 [60057],
 [250390],
 [374493],
 [122676],
 [144131, 308851, 259384, 144131, 144131, 42542],
 [157950],
 [188171, 188171],
 [461686],
 [277079],
 [454640],
 [280375],
 [236088],
 [447285],
 [57284],
 [230602],
 [103816],
 [133814, 29196, 46232],
 [394678, 181242, 230785, 98063, 429571, 459664, 429571],
 [83805],
 [175201],
 [312202],
 [184879],
 [33661],
 [54376, 331209, 339531],
 [338630],
 [388833],
 [206467, 298883],
 [51467, 435796],
 [447638],
 [8320, 8320],
 [385260],
 [372133],
 [344982],
 [13707],
 ...]

In [17]:
tr = TransactionEncoder()
tr_arr = tr.fit(list_df).transform(list_df)
df = pd.DataFrame(tr_arr, columns=tr.columns_)

In [19]:
df.head(100)

,6,90,112,147,199,263,391,403,449,460,...,466656,466657,466675,466735,466740,466747,466772,466847,466863,466864
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
frequent_itemsets = apriori(df, min_support = 0.0005, use_colnames = True)

In [34]:
frequent_itemsets

     support  itemsets
0   0.001066    (5411)
1   0.000639   (17114)
2   0.000853   (65273)
3   0.000639   (69533)
4   0.000568   (76426)
5   0.000568   (82389)
6   0.000924   (91755)
7   0.000924   (96924)
8   0.000782  (102306)
9   0.000782  (133814)
10  0.000568  (133907)
11  0.000710  (151444)
12  0.000568  (184998)
13  0.001989  (187946)
14  0.000853  (190000)
15  0.000924  (219512)
16  0.000568  (225778)
17  0.000924  (234255)
18  0.000568  (257040)
19  0.000568  (287664)
20  0.000924  (298009)
21  0.000568  (303715)
22  0.000639  (303828)
23  0.000924  (309778)
24  0.000568  (320130)
25  0.000853  (335975)
26  0.000568  (338660)
27  0.000710  (341482)
28  0.000568  (344723)
29  0.001137  (370653)
30  0.000995  (384302)
31  0.000568  (441668)
32  0.000568  (445105)
33  0.000568  (449571)
34  0.000995  (461686)

In [41]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.000005)

In [42]:
rules.head()

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [ ]:
events_df.transactionid.fillna(-1, inplace=True)

In [ ]:
events_df.head()

In [ ]:
users = events_df.visitorid.unique()
items = events_df.itemid.unique()
shape = (len(users),len(items))

In [ ]:
# Categorical coding
users_cat = CategoricalDtype(categories=sorted(users), ordered=True)
items_cat = CategoricalDtype(categories=sorted(items), ordered=True)
users_index = events_df.visitorid.astype(users_cat).cat.codes
items_index = events_df.itemid.astype(items_cat).cat.codes

In [ ]:
# To csr
coo = sparse.coo_matrix((events_df.event, (users_index, items_index)), shape=shape)
csr = coo.tocsr()

In [ ]:
# Все записи (относящиеся к одному пользоветелю), временной промежуток между которыми менее 10 минут, - сессия